name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  format:
    name: Check format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Check Format
        run: cargo fmt -- --check

  build:
    name: Build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    needs:
      - format
    strategy:
      matrix:
        os:
          - macOS-latest
          - ubuntu-latest
          - windows-latest

    steps:
      - uses: actions/checkout@v6
      - name: Cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Build
        run: cargo build

      - name: Lint
        run: cargo clippy -- -D warnings

      - name: Test
        run: cargo test

  check-nix-changes:
    name: Check if Nix files were changed
    runs-on: ubuntu-latest
    outputs:
        has-changes: ${{ steps.changed-files.outputs.any_changed }}

    steps:
      - uses: actions/checkout@v6
      - uses: tj-actions/changed-files@v47
        id: changed-files
        with:
          files: |
            **.nix
            nix/**
            flake.lock

  build-nix:
    name: Build Nix
    needs:
      - build
      - check-nix-changes
    runs-on: ubuntu-latest
    if: ${{ needs.check-nix-changes.outputs.has-changes == 'true' }}

    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Build Nix Package (classic)
        run: nix-build
      - name: Build Flake
        run: nix build
